* {
  box-sizing: border-box;
}

main {
  position: absolute;
  width: 50%;
}

.flex__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#007891, #38c3bc);
  font-family: Tahoma, Geneva, sans-serif;
  outline: none;
}

.flex__item {
  border-radius: 20px;
  border: 0;
  margin: 10px;
  color: #ffffff;
}

.flex__item.firstBox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 60%;
  border: 1px solid #38a3b6;
  background-image: linear-gradient(to bottom right, #489fb2, #39c4bd);
}
.flex__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  align-items: flex-start;
}

.temperature {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 70px;
}

.today {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  opacity: 70%;
}

.current__status {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid black;
}

.current__celsius {
  border: 1px solid black;
}

.flex__item.secondBox {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 60%;
  border: 1px solid #38a3b6;
  background-image: linear-gradient(to bottom right, #57BCC4, #39C4BD);
  justify-content: space-evenly;
}
